<!DOCTYPE html>
<html>
<head>
<style>
table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}
</style>
</head>
<body>

<h2>All Books </h2>
<table>
  <tr>
    <th>ID</th>
    <th>Book</th>
    <th>Author</th>
    <th>Actions</th>
  </tr>
  {% if list %}
    {% for i in list %}
  <tr>
    <td>{{ i.id }}</td>
    <td>{{ i.book }}</td>
    <td>{{ i.author }}</td>
    <td><form action="{% url 'update' i.id  %}" method="get">
<!--                {% csrf_token %}-->
                <input class="btn" type="submit" value="Update">
            </form>
      <form action="{% url 'delete' i.id  %}" method="get">
<!--                {% csrf_token %}-->
                <input class="btn" type="submit" value="Delete">
            </form></td>
  </tr>
</table>
  {% endfor %}
    {% else %}
    <h2>No Records</h2>
    {% endif %}

</body>
</html>


